name: Java CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - refs/tags/*
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build
      run: ./gradlew check
    - name: Archive test report
      uses: actions/upload-artifact@v2
      with:
        name: test-report
        path: build/reports/tests/test
    - name: Release
      env:
        BINTRAY_USER: jenkins-reform-hmcts
        BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
        RELEASE_VERSION: ${{ github.ref }}
      run: ./gradlew bintrayUpload
      if: startsWith(github.ref, 'refs/tags')
